.Weather {
  margin: 10px;
  background-color: #f3f1eb;
  background-image: linear-gradient(0deg, #e6e4db 0%, #a4cec5 100%);
  color: black;     
  border-radius: 10px;
  padding: 5px;
  box-shadow: 10px 10px 10px rgb(144, 162, 94);
  ul {
    list-style-type: none;
  }
}
